<html>
	<head>
	<title>List of Books</title>
	<style> 
		.bookStyle{
			width:250px;
			background-color:white;
			float:left;
			border-style:solid;
			border-width:2px;
		}
		#loadingDiv{
			position:absolute;
			width:150px;
			height:150px;
			z-index:15;
			top:50%;
			left:50%;
		}

	</style>
	  <link rel="stylesheet" href="js/jquery-ui.css" />
	  <script src="js/jquery-1.9.1.js"></script>
	  <script src="js/jquery-ui.js"></script>
	  <script src="js/underscore.js"></script>
	  <script src="js/backbone.js"></script>
	  <script>
	  $(function() {
	    $( "input[type=submit],button" )
	      .button()
	       });
	  </script>
	</head>
	<body>
		<script id="bookTemplate" type="text/template">
		    <div class="bookStyle">
			<table>
				<tr>
					<td>Book Name : </td><td><input type="text" name="bookname" value=<%= bookname %>></input></td>
				</tr>
				<tr>
					<td>Author Name : </td><td><input type="text" name="authorname" value=<%= authorname %>></input></td>
				</tr>
				<tr>
					<td>Status : </td><td><input type="text" name="status" value=<%= status %>></input></td>
				</tr>
			</table>
			<div align="center">
			<button class="update">Update</button>
			<button class="delete">Delete</button>
			</div>
			<br/>
		    </div>
		</script>
		<div id="booksDiv"></div>
		<div id="loadingDiv" style="display:none">
			<p><img src="resources/images/loading.gif" >Loading</p>
  		</div>
		<script>
			(function($) {
				$(document).ajaxStart(function(){
				   $("#loadingDiv").show();
				   }).ajaxStop(function(){
				   $("#loadingDiv").hide();
				});	
				var Book = Backbone.Model.extend({
					defaults: {
							bookname: '',
							authorname: '',
							status: ''
					}
				});
				
				var BookList = Backbone.Collection.extend({
					model:Book
				}
				);

				var BookView = Backbone.View.extend({
				    tagName: 'div',
				    className: 'bookContainer',
				    template: _.template( $('#bookTemplate').html() ),
				    events: {
					'click .delete': 'deleteBook',
					'click .update': 'updateBook'
				    },
				    
				    deleteBook: function() {
				    	 // Fire Delete
				    	 var self = this;
					 var urlSuffix = "?bookname=" + this.model.get("bookname");
					 $.ajax({
						type: 'GET',
						url: 'php/deleteBook.php' + urlSuffix,
						dataType: "json",
						complete: function(){
							alert("Deleted Book : " + self.model.get("bookname"));
							self.model.destroy();
							self.remove();
						}
					});
				    },
				    
				    updateBook: function() {
					// Obtain old book name (username,bookname) primary key
					var self = this;
					var oldBookName = this.model.get("bookname");
					this.$(":input").each(function(i,el){
						self.model.set(el.name,el.value);
					}
					);
					// Fire Update
					var postData = this.model.attributes;
					postData.oldBookName = oldBookName;
					console.log(postData);
					$.ajax({
						type: 'POST',
						url: 'php/updateBook.php',
						data:postData,
						success: function(data){
							alert("Updated Book : " + oldBookName);
						}
					});
				    },
				    
				    
				    render: function() {
					this.$el.html( this.template( this.model.toJSON() ) );
					return this;
				    }
				});
				
				
				var BookListView = Backbone.View.extend({
				    el: '#booksDiv',
				
				    initialize: function( bookSet ) {
					this.collection = new BookList( bookSet );
					this.render();
				    },
				
				    // Render each book
				    render: function() {
					this.collection.each(function( item ) {
					    this.renderBook( item );
					}, this );
				    },
				
				    // Handling render on each book on its book view , and append the ref to list view
				    renderBook: function( item ) {
				    	   console.log("book",item);
					var bookView = new BookView({
					    model: item
					});
					this.$el.append( bookView.render().el );
				    }
				});
				 $.ajax({
					type: 'GET',
					url: 'php/getBooks.php',
					dataType: "json",
					success: function(data){
						var someBookList = new BookListView();
						someBookList.initialize(data);
					}
				});

			})(jQuery);
		</script>

				
		
	</body>
</html>
